.QuizCreator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background: linear-gradient(270deg, #f0613c 0%, #f0783c 100%);
}
.QuizCreator h1 {
    color: #fff;
    margin-bottom: 5px;
}
.QuizCreator form {
    background: #eee;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}
.QuizCreator hr {
    margin-bottom: 5px;
}